*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('../img/back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.mainhead{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    margin-top: 35px;
    width: 230px;  
    height: 110px;
    padding-left: 40px ;
}
.mainhead nav{
    width: 450px;
    display: flex;
    justify-content: space-around;
}
.mainhead nav a{
    text-decoration: none;
     color: black;
     text-transform: uppercase;
}
.mainbtn{
    margin-right: 60px;

}
.mainhead button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    border: none;
    background-image: linear-gradient(to right,#649bff ,#0070fa,#649bff);
    border-radius: 10px;
}
main{ width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 250px 100px;

}
button{
    padding: 10px 45px;
    text-align: center;
    font-size: 14px;
    border: none;
    background-image: linear-gradient(to right,#649bff ,#0070fa,#649bff);
    border-radius: 10px;
}
.lsec h2{
   padding: 5px;
   text-transform: lowercase;
   font-weight: lighter;
}
.lsec h1{
    padding: 5px;
    font-weight: bolder;
    font-size: 40px;

 }.lsec p{
    padding: 5px;
 }
 .lsec button{
    margin-top: 10px;
 }


